<h1>StaticPages#index</h1>
<p>Find me in app/views/static_pages/index.html.erb</p>


<% @pr.each do |pr| %>
<h1> Program</h1>
  <%= pr.name %> <br>
   <h2>trainings to the Program</h2>
   
  <% pr.trainings.each do |training| %>
    <%= training.name %><br>
    <h2> exercises for training</h2>
    <% training.exercises.each do |exercise| %>
      <%= exercise.name %><br>
    <% end %>
  <% end %>
 <% end %>






<div class="sadrzaj" ng-controller="PrviCtrl">
  <h1>Kreiranje korisnika</h1>
  <label for="email">Email:</label>
  <input name="email" type="text" ng-model="user.email" /><br>
  <label for="password">Password:</label>
  <input name="password" type="password" ng-model="user.password" /><br>
  <label for="passwordc">Confirm password:</label>
  <input name="passwordc" type="password" ng-model="user.password_confirmation" /><br>
  <button ng-click="poziv2()">Kreiraj</button>
  <h1>Get Korisnik by id</h1>
  <label for="uid">Id:</label> <input name="uid" type="text" ng-model="id"/>
  <button ng-click="poziv1()">Get</button>
</div>